html, body {
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: row-reverse;
}

.center {
    width: 50%;
    height: 100%;
    background-color: white;
}

.ui.secondary.button {
    color: white;
    background-color: green;
    margin: 5px;
    margin-bottom: 40px;
    width: 490px;
    height: 40px;
    transition: .3s;
}

.ui.secondary.button:hover {
    background-color: limegreen;
}

.mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form {
    padding: 10px;
}

.ui.left.icon.input {
    padding: 5px;
    width: 500px;
}