html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    height: 90vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 50%;
}

.option {
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.option:hover {
    background-color: #50c878;
    cursor: pointer;
}

.image {
    height: 128px;
    width: 128px;
    margin-bottom: 15px;
}

label {
    font-size: 20px;
}

.label {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.head {
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.ui.inverted.green.button {
    margin-top: 15px;
    width: 200px;
    font-size: 16px;
}

#logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

li {
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px;
    transition: 0.3s;
}

li:hover {
    background-color: #50c878;
    cursor: pointer; 
}

.right-item-button, .right-item {
    float: right;
    color: white;
    position: relative;
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}

.right-item-button:hover {
    background-color: #50c878;
    cursor: pointer;
}

a, a:hover { 
    color: white;
}