html, body {
    height: 94vh;
    background-color: #121212; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    color: #E2E2E2;
    font-family: sans-serif;
    font-size: 24px;
}

tr.clickable.clicked > td {
    background-color: #00FF00;
}

.empty {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#cancel {
    height: 40px;
    width: 15%;
    background-color: #121212;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cancel:hover {
    cursor: pointer;
}

#reserve {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

li {
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px;
    transition: 0.3s;
}

li:hover {
    background-color: #50c878;
    cursor: pointer; 
}

.right-item-button, .right-item {
    float: right;
    color: white;
    position: relative;
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}

.right-item-button:hover {
    background-color: #50c878;
    cursor: pointer;
}

#logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
}

a, a:hover {
    color: white;
}