body, html {
  background-color: black;
  color: white;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 20pt;
  text-align: justify;
}

.top-bottom-margin {
  margin-top: 17.5%;
  margin-bottom: 17.5%;
}