body {
    font: 20px "Raleway", sans-serif;
    line-height: 2;
    color: #f5f6f7;
}

/* NavBar */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    box-shadow: 1px 1px rgba(0, 0, 0, .5);
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover {
    color: #535353;
}

a.navbar-brand {
    font-size: 20pt;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: #cccccc !important;
}

/* Containers */
.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-fluid .container {
    padding-left: 0;
    padding-right: 0;
}

h1, h2, h3, h4 {
  font-weight: bold;  
}

p {
    font-size: 18px;
}

.fill-margin {
    margin-bottom: 30px;
}

i {
    font-size: 10rem;
}

span {
    padding-right: 10px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #535353;
}

/* Backgrounds */

.about-me-bg {
    background-color: #ffffff;
    color: #000000;
}

.skills-bg {
    background-color: #3d3d3d;
    color: #ffffff;
}

.commitments-bg{
    background-color: #848484;
    color: #ffffff;
}

.projects-bg { 
    background-color: #bbbbbb;
    color: #000000;
}

.footer-bg {
    background-color: #000000;
}