
/* This is for those sections with background image */
.wrap {
    width: 100%;
}

/* Set of background images */
.bene-bg {
    background: url("./res/sample.jpg") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bene-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}

.bene-bg-img {
    color: white;
    position: relative;
}